body{
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.icon{
  font-size: 25px;
  color: #000000;
}

.app-heading{
  text-align: center;
}

.card{
  transition: transform 0.5s;
}
.card:hover{
  transform:scale(1.2);
}